{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  <h3>Вход</h3>
  <form action="{{ .App.FrontEndURL }}/web/login" method="post">
    <input type="text" name="username" placeholder="Имя пользователя" required />
    <input
      class="long"
      type="password"
      name="password"
      placeholder="Пароль"
      required
    />
    <input type="submit" value="Log in" />
  </form>

  <h3>Настройка клиента</h3>
  <p>
    Использование {{ .App.Config.ApplicationName }} на клиенте требует стороннего лаунчера, поддерживающего
    пользовательские API-серверы.
    <a href="https://github.com/unmojang/FjordLauncher">Fjord Launcher</a>,
    форк Prism Launcher, рекомендуется, но также работает
    <a href="https://github.com/huanghongxun/HMCL">HMCL</a>. Оба бесплатны.
  </p>

  <h4>Shattered Prism Launcher</h4>

  <ol>
    <li>
      Нажмите на свой аккаунт в правом верхнем углу и выберите "Управление учётными записями...".
    </li>
    <li>Нажмите "Add authlib-injector" в правой боковой панели.</li>
    <li>
      Введите имя пользователя и пароль (которые вы указывали здесь при регистрации), а затем укажите
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>
      в качестве URL в третьем поле. Нажмите "ОК".
    </li>
  </ol>

  <h4>Другие Лаунчеры (не рекомендуется)</h4>

  <p>
    Используйте URL authlib-injector:
    <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
  </p>

  <p>
    Но если вы вдруг (вот очень захотелось) решили использовать иной лаунчер, который поддерживает пользовательские API-серверы, но не через authlib-injector,
    используйте данные URL-адреса:
  </p>

  <table>
    <tr>
      <td>Сервер аутентификации:</td>
      <td>{{ .App.AuthURL }}</td>
    </tr>
    <tr>
      <td>Сервер аккаунтов:</td>
      <td>{{ .App.AccountURL }}</td>
    </tr>
    <tr>
      <td>Сервер сессий:</td>
      <td>{{ .App.SessionURL }}</td>
    </tr>
    <tr>
      <td>Сервер сервисов:</td>
      <td>{{ .App.ServicesURL }}</td>
    </tr>
  </table>

  {{ template "footer" . }}
{{ end }}
